/* src/obsidian/link-modal/styles.css */
.Dashboards__link-modal>div {
    display: flex;
    flex-direction: column;
    gap: var(--size-4-4);
}

.Dashboards__link-modal input[type=text] {
    padding: var(--size-2-2) var(--size-4-2);
    font-size: 16px;
}

/* src/obsidian/code-block-modal/styles.css */
.Dashboards__code-block-modal>div {
    display: flex;
    flex-direction: column;
    gap: var(--size-4-4);
}

.Dashboards__code-block-modal textarea {
    height: 150px;
    resize: none;
}

/* src/obsidian/layout-modal/styles.css */
.Dashboards__layout-modal h4 {
    margin-bottom: var(--size-2-3);
}

.Dashboards__layout-modal>div {
    display: flex;
    flex-direction: column;
    gap: var(--size-2-3);
}

.Dashboards__layout-modal>div>div>div {
    display: flex;
    flex-direction: row;
    padding: var(--size-2-3) var(--size-4-4);
    column-gap: var(--size-4-4);
    border-top: 1px solid var(--background-modifier-border);
    border-bottom: 1px solid var(--background-modifier-border);
}

.Dashboards__draggable {
    cursor: grab;
}

.Dashboards__layout-modal p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 0;
}